body{margin:0 0;
    padding: 0 0;
    height: auto;
    }


nav{width: 8%;
     height: 100%;
     float: left;
    position: fixed;
    background-color: aqua;}

/**Home-page***/
banner{
    width: 92%;
    margin-left: 8%;
    background-color:dimgrey;
     float:left;}

#section_welcome{ width: 25%;
              float: right;
              height:413px;
              margin-top: 50px;
    
    }
#section_tools{ width: 25%;
              float: right;
              height:413px;
              margin-top: 50px;
    }

li{ font-family:"trench"; 
            font-size:18px;
			float:left; 
            list-style: none;
            padding: 10px;
            margin: 12px;
            margin-top: 30px;}

li a{ text-decoration:none; 
         color:#666;}


li:hover{
  /* 4px line to the right of the item - visible on hover */
/*
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
*/
  background-color: #83b0b9;
/*  opacity: 0;*/
 
  transition: opacity 0.9s;
  pointer-events:stroke;
}

h1{
    text-align: center;
    width: 80%;
    float: left;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

   font-weight:lighter;}
/*---about-page------*/

.section_bio{width: 40%;
       float: left;      
       margin:10% 0  0 10%;
    }
#section_img{ width: 50%;
              float: right;
              height:613px;
    
    }
.p_section{
    font-size: 19px;
    
}
#section_foter{
    width: 40%;
    float: left;
    margin:10% 0 0 10%;
}

/*-----Projects page------*/
#projects_content{width:91%;
       float: left;      
       margin:0 0 0 9%;
    }
.img3a{
    width: 5%;
    float: left;
}
/*-----Contact page------*/

.img{margin-left: 25%;
   }

h4{font-weight: 300;}
footer{float: left;
    margin:3% 0% 0% 50%;
    
}
hr{width: 100%;
   height: 3px;
  background-color:dimgrey;}

#section_contact{ width: 20%;
                  float: right;
                  margin-right: 20%;
                  height:513px;
    
    }
form{margin:47% 0 0 0%;}

.section_bio_contact{width: 40%;
       float: left;      
       margin:10% 0  0 20%;
    }
h5{float: left;
   width: 15%;
    color:aqua;
  }

#title{color:black;
       font-size: 25px;}